{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="page">
    <div class="container">
        <div class="row">
            {% if events %}
                <ul class="list">
                    {% for event in events %}
                        <li class="item list-item"><strong><a href="{{ path('api.v1.event.single', {id: event.id}) }}">{{ event.name }}</a></strong> - {{ event.description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
