{% extends 'base.html.twig' %}
{% block title %}{{ event.name }}{% endblock %}

{% block body %}
<div class="page">
    <div class="container">
        <div class="row">
            <p>this us a single event view</p>
        </div>
    </div>
</div>
{% endblock %}