

###> symfony/framework-bundle ###
/.evn.*
/.env-*
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
!/.env-sample
###< symfony/framework-bundle ###

###
/public/jquery/
/public/font-awesome/
/public/bootstrap-4.0.0-dist/
