{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form w-50' } }) }}
    {{ form_widget(form) }}
    <div class="form-control-sm">
        <input class="btn btn-primary pull-left" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
